* {
    box-sizing: border-box;
    padding: 0;
    /* changed to right  */
     margin: 0;
}

body {
    /* background-color: #d9dcd6;  */
    background-color: lightgoldenrodyellow;
    /* background-image: url(https://banner2.cleanpng.com/20180511/gzw/kisspng-digital-marketing-marketing-automation-business-to-5af61803de2996.52705663152607744391.jpg);  */
    /* background-image: url(https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Modern-NYC-Skyline-Simple-Background-Image-.jpg);  */
    /* background-repeat:repeat;  */



}

.header {
    /* padding: 20px;  */
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-color:#792b5e;  */
    background-color: #4b445d; 
    color:  #6ee657b8;
    display: flex;
   
}

.header h1 {
    display: inline-block;
 
    font-size: 48px;
    display: flex;
    

}

.header h1 .seo {
       color: #d9dcd6; 
    /* color: #584b77; */
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none; 
   /*  */
    /* background-color: dimgray;  */
    display: flex;
  
   
  

}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    /* remove background positioning center  */
    /* background-position: center;  */
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;

}


.benefits {
    /* position: center;  */
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%; 
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: #2589bd; */

}

.benefit-lead {
    margin-bottom: 32px;
    /* color: #ffffff; */
    color: #584b77;
    
}

.benefit-brand {
    margin-bottom: 32px;
    /* color: #ffffff; */
    color: #584b77;
}

.benefit-cost {
    margin-bottom: 32px;
    /* color: #ffffff; */
    color: #584b77;
}
/* combined h3   */
.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
   

.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    /* height: 300px;  */ 
    /* set the height auto  */
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color:#792b5eed;  */
    background-color: rgba(132, 0, 187, 0.16);
    /* color: #ffffff;  */

    color: #584b77;

}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    /* height: 300px;  */
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: #0072bb;  */
    background-color: rgba(132, 0, 187, 0.16);
    background-image: url(https://venngage-wordpress.s3.amazonaws.com/uploads/2018/11/15-Presentation-Background-Examples33.png);
    
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    /* height: 300px;  */
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(132, 0, 187, 0.16);
    /* color: #ffffff;  */
    color: #584b77;

}

.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
